<div class = "bottomContainer">
   
    <span class="bottomContent" onclick="loadTrending();"><img class = "bottomLogos" src = "/assets/icons/fireLogo.png"></span>
    <span class="bottomContent" onclick="loadLatest();"><img class = "bottomLogos" src = "/assets/icons/clock.png"></span>
    <span class="bottomContent" onclick="loadAdder();"><img class = "bottomLogos" src = "/assets/icons/plus.png"></span>
    <span class="bottomContent" onclick="loadAccount();"><img class = "bottomLogos" src = "/assets/icons/avatar.png"></span>

</div>
