{% extends "templates/base.twig" %}

{% block title %}KiloGram{% endblock %}

{% block body %}
<div class = "topFlexContainer">
    <span id = "brandName"><h1>KiloGram</h1></span>
    <span id = "userName"><h2>{{username}}</h2></span>
</div>
<hr class = "hr1">
<div class = "feedContainer">
    <script src = "/assets/scripts/addPhotos.js"></script>
    <script src = "/assets/scripts/loadFeed.js"></script>
    <script src = "/assets/scripts/postActions.js"></script>
    <script src = "/assets/scripts/accountActions.js"></script>
    {% if (current == 'latest') %}
    <div class = "feed" id = "feed"></div><script>loadLatest();</script>
    {% elseif (current == 'upload') %}
    <div class = "feed" id = "feed"></div><script>loadAdder();</script>
    {% elseif (current == 'account') %}
    <div class = "feed" id = "feed"></div><script>loadAccount();</script>

    {% else %}
    <div class = "feed" id = "feed"></div><script>loadTrending();</script>
    {% endif %}
    
    
</div>
{% include("templates/bottom.twig") %}

{% endblock %}